.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.tmp
node_modules/
build/
dist/
.coverage
.pytest_cache/
__pycache__/
*.pyc
backend/.venv/
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
